<label>Company</label>
<p><%= @user.company.name %></p>

<label>Sign Ins</label>
<p><%= @user.sign_in_count %></p>

<label>Role</label>
<p><%= @user.role.capitalize %></p>

<label>Account Created At</label>
<p><%= @user.created_at.strftime('%Y/%m/%d %I:%M %P') %></p>