<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f| %>
        <div class="panel-body">
          <%= f.error_notification %>
        
          <div class="form-inputs">
            <%= f.input :first_name, required: true, autofocus: true %>
            
            <%= f.input :last_name, required: true %>
            
            <%= f.simple_fields_for :company do |company_form| %>
              <%= company_form.input :name, label: 'Company Name' %>
          	<% end %>
            
            <%= f.input :email, required: true %>
        
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
        
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        </div>
      <% end %>
    </div>
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= link_to "Back", :back %>
  </div>
  <div class="col-sm-4">
    <%= render 'devise/registrations/stats' %>
  </div>
</div>