<div class="row">
  <div class="col-sm-8">
    <h2>Sign up</h2>

    <div class="panel panel-default">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f| %>
        <div class="panel-body">
            <%= f.error_notification %>
          
            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :email, required: true %>
              <%= f.simple_fields_for :company, Company.new do |company_form| %>
                <%= company_form.input :name, label: 'Company Name' %>
            	<% end %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-3">
              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>