<ul class="nav nav-tabs nav-tabs-sm desktop">
  <li><%= link_to_in_li raw( "Active <span class='badge pull-right'>" + @count_active.to_s + "</span>"), controller: "jobs", active: "true" %></li>
  <% if Job.stage("Inquiry").count > 0 %>
    <li><%= link_to_in_li raw( "Inquiry <span class='badge pull-right'>" + @count_inquiry.to_s + "</span>"), controller: "jobs", stage: "Inquiry" %></li>
  <% end %>
  <% if Job.stage("Tentative").count > 0 %>
    <li><%= link_to_in_li raw( "Tentative <span class='badge pull-right'>" + @count_tentative.to_s + "</span>"), controller: "jobs", stage: "Tentative" %></li>
  <% end %>
  <% if Job.stage("Sold").count > 0 %>
    <li><%= link_to_in_li raw( "Sold <span class='badge pull-right'>" + @count_sold.to_s + "</span>"), controller: "jobs", stage: "Sold" %></li>
  <% end %>
  <% if Job.stage("Cancelled").count > 0 %>
    <li><%= link_to_in_li raw( "Cancelled <span class='badge pull-right'>" + @count_cancelled.to_s + "</span>"), controller: "jobs", stage: "Cancelled" %></li>
  <% end %>
</ul>
<ul class="nav nav-pills nav-stacked mobile">
  <li><%= link_to_in_li raw( "Active <span class='badge pull-right'>" + @count_active.to_s + "</span>"), controller: "jobs", active: "true" %></li>
  <% if Job.stage("Inquiry").count > 0 %>
    <li><%= link_to_in_li raw( "Inquiry <span class='badge pull-right'>" + @count_inquiry.to_s + "</span>"), controller: "jobs", stage: "Inquiry" %></li>
  <% end %>
  <% if Job.stage("Tentative").count > 0 %>
    <li><%= link_to_in_li raw( "Tentative <span class='badge pull-right'>" + @count_tentative.to_s + "</span>"), controller: "jobs", stage: "Tentative" %></li>
  <% end %>
  <% if Job.stage("Sold").count > 0 %>
    <li><%= link_to_in_li raw( "Sold <span class='badge pull-right'>" + @count_sold.to_s + "</span>"), controller: "jobs", stage: "Sold" %></li>
  <% end %>
  <% if Job.stage("Cancelled").count > 0 %>
    <li><%= link_to_in_li raw( "Cancelled <span class='badge pull-right'>" + @count_cancelled.to_s + "</span>"), controller: "jobs", stage: "Cancelled" %></li>
  <% end %>
</ul>