<div class="panel panel-default">
  <%= simple_form_for(@job) do |f| %>
    <div class="panel-body">
      <%= f.error_notification %>
      <div class="row">
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8"><%= f.input :title, label: 'Job Title', placeholder: 'New Job', autofocus: true, :input_html => {"data-bind" => "textInput: jobName" } %></div>
              <div class="col-sm-4"><%= f.input :stage, as: :select, collection: [ "Inquiry", "Tentative", "Sold", "Cancelled"], include_blank: false %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-5"><%= f.input :job_number %></div>
              <div class="col-xs-5"><%= f.input :invoice_number %></div>
              <div class="col-xs-2"><%= f.input :invoiced, as: :select, collection: [ "No", "Yes"], include_blank: false %></div>
            </div>
            <hr>
            <%= f.association :contact, label_method: :full_name_and_account_association, value_method: :id, input_html: { id: 'dropdown' } %>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :starts_on, '* Start Date', class: 'control-label'  %>
                <%= f.text_field :starts_on, :required => true, :value => @job.starts_on.try(:strftime, "%a, %b %d, %Y"), class: 'form-control starts_on_date' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :starts_at, '* Start Time', class: 'control-label'  %>
                <%= f.text_field :starts_at, :value => @job.starts_at.try(:strftime, "%I:%M %P"), class: 'form-control starts_at_time' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :ends_on, '* End Date', class: 'control-label'  %>
                <%= f.text_field :ends_on, :required => true, :value => @job.ends_on.try(:strftime, "%a, %b %d, %Y"), class: 'form-control ends_on_date' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :ends_at, '* End Time', class: 'control-label'  %>
                <%= f.text_field :ends_at, :value => @job.ends_at.try(:strftime, "%I:%M %P"), class: 'form-control ends_at_time' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :loads_in_on, 'Load In Date', class: 'control-label'  %>
                <%= f.text_field :loads_in_on, :value => @job.loads_in_on.try(:strftime, "%a, %b %d, %Y"), class: 'form-control loads_in_on_date' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :loads_in_at, 'Load In Time', class: 'control-label'  %>
                <%= f.text_field :loads_in_at, class: 'form-control loads_in_at_time' %>
              </div>
            </div>
          <div class="row">
          </div>
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :loads_out_on, 'Load Out Date', class: 'control-label'  %>
                <%= f.text_field :loads_out_on, :value => @job.loads_out_on.try(:strftime, "%a, %b %d, %Y"), class: 'form-control loads_out_on_date' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :loads_out_at, 'Load Out Time', class: 'control-label'  %>
                <%= f.text_field :loads_out_at, class: 'form-control loads_out_at_time' %>
              </div>
            </div>
          </div>
          <%= f.input :confirmed_load_times, as: :select, collection: [ "No", "Yes"], include_blank: false %>
        </div>
      </div>
    </div>
  <div class="panel-footer">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
    <% end %>
    <script>
      $(function() {
        $( "#dropdown" ).select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: 'Select a contact'
        });
      });
      $(function() {
          $('.starts_on_date, .ends_on_date, .loads_in_on_date, .loads_out_on_date').pickadate({
            labelMonthNext: 'Go to the next month',
            labelMonthPrev: 'Go to the previous month',
            labelMonthSelect: 'Pick a month from the dropdown',
            labelYearSelect: 'Pick a year from the dropdown',
            selectMonths: true,
            selectYears: true,
            format: 'ddd, mmm dd, yyyy',
            // formatSubmit: 'ddd, dd mmm yyyy',
            hiddenName: true
          });
          $('.starts_at_time, .ends_at_time, .loads_in_at_time, .loads_out_at_time').pickatime({
            format: 'h:i A',
            // formatSubmit: 'HH:i',
            interval: 15,
            hiddenName: true
          });
      });
    </script>
    <script>
      $(function() {
          var viewModel = {
              jobName : ko.observable("<%= @job.title unless @job.title.nil? %>")
          };
          viewModel.fullName = ko.dependentObservable(function () {
              return viewModel.jobName();
          });
      
          ko.applyBindings(viewModel);
      });
    </script>
</div>