<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New <%= controller_name.singularize.titleize %></h3>
  </div>
  <%= simple_form_for(@new_job) do |f| %>
    <div class="panel-body">
        <%= f.error_notification %>
        <div class="row">
            <div class="col-sm-6">
                <%= f.input :title %>
            </div>
            <div class="col-sm-6">
                <%= f.association :contact, label_method: :first_name, value_method: :id, input_html: { id: 'dropdown' } %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <%= f.label :starts_on, '* Start Date', class: 'control-label'  %>
                    <%= f.text_field :starts_on, :required => true, class: 'form-control starts_on_date' %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <%= f.label :ends_on, '* End Date', class: 'control-label'  %>
                    <%= f.text_field :ends_on, :required => true, class: 'form-control ends_on_date' %>
                </div>
            </div>
        </div>
        <script>
          $(function() {
            $( "#dropdown" ).select2({
                theme: "bootstrap",
                allowClear: true,
                placeholder: 'Select a contact',
                width: '100%'
            });
          });
          $(function() {
              $('.starts_on_date, .ends_on_date').pickadate({
                labelMonthNext: 'Go to the next month',
                labelMonthPrev: 'Go to the previous month',
                labelMonthSelect: 'Pick a month from the dropdown',
                labelYearSelect: 'Pick a year from the dropdown',
                selectMonths: true,
                selectYears: true,
                format: 'ddd, mmm dd, yyyy',
                // formatSubmit: 'ddd, dd mmm yyyy',
                hiddenName: true
              });
          });
        </script>
    </div>
    <div class="panel-footer">
        <div class="form-group">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    </div>
  <% end %>
</div>