<div class="panel panel-default">
  <%= search_form_for @q, class: 'search-inlines' do |f| %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.search_field :title_cont, class: 'form-control', autofocus: true, placeholder: 'Job Name' %>
      </div>
      <div class="form-group">
        <a id="searchDatesButton" class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#searchDates" aria-expanded="false" aria-controls="searchDates">
          Dates <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
        </a>
      </div>
      <div class="collapse" id="searchDates">
        <div class="form-group">
          <%= f.search_field :starts_on_gteq, class: 'form-control', placeholder: 'Start Date' %>
        </div>
        <div class="form-group">
          <%= f.search_field :ends_on_lteq, class: 'form-control', placeholder: 'End Date' %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
  	  <%= f.submit 'Search', class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
      $('#q_starts_on_gteq, #q_ends_on_lteq').pickadate({
        labelMonthNext: 'Go to the next month',
        labelMonthPrev: 'Go to the previous month',
        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        selectMonths: true,
        selectYears: true,
        format: 'Start: mmm dd, yyyy',
        // formatSubmit: 'ddd, dd mmm yyyy',
        hiddenName: true
      });
  });
</script>