<h3 class='text-muted'>Filter</h3>
<ul class="nav nav-pills nav-stacked">
  <%= link_to_in_li raw( "Active Jobs <span class='badge pull-right'>" + @count_active.to_s + "</span>"), controller: "jobs", active: "true" %>
  <%= link_to_in_li raw( "Closed Jobs <span class='badge pull-right'>" + @count_closed.to_s + "</span>"), controller: "jobs", closed: "true" %>
  <%= link_to_in_li raw( "All Jobs <span class='badge pull-right'>" + @count_filtered.to_s + "</span>"), controller: "jobs", filtered: "true" %>
  <%= link_to_in_li raw( "To Be Invoiced <span class='badge pull-right'>" + @count_to_be_invoiced.to_s + "</span>"), controller: "jobs", to_be_invoiced: "true" %>
</ul>