<div class="row">
  <div class="col-sm-9">
    <%= render 'layouts/entity_header' %>
    <%= render 'jobs/active_jobs_nav' %>
      <% @job_weeks.each do |week, jobs| %>
        <% end_of_week = week + 6.days %>
        <div class="panel panel-default jobs-index">
            <div class="panel-heading">
              <h4 class="panel-title"><%= week.strftime("%b %-d, %Y") %><small> - <%= end_of_week.strftime("%b %-d, %Y") %></small></h4>
            </div>
            <ul class="list-group">
              <% jobs.each do |job| %>
                <li class="list-group-item">
                  <%= link_to 'Edit', edit_job_path(job), class: 'pull-right' %>
                  <%= content_tag(:small, job.starts_on.strftime("%a, %d"), class: 'inline job-date-short') %> <span class="label label-<%= job.stage.downcase %>"><%= job.stage %></span> <%= link_to job.title, job, class: 'tooltips', title: "Job: #{job.job_number} / Invoice: #{job.invoice_number}", data: { toggle: 'tooltip', placement: 'top' } %><span class="text-muted"><% if !job.contact.first_name.blank? %> - <%= job.contact.first_name %><% end %><% if !job.contact.account.nil? %>, <%= job.contact.account.name %><% end %></span>
                </li>
              <% end %>
            </ul>
          <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
          </script>
        </div>
      <% end %>
    <div class="text-center">
      <%= will_paginate @job, renderer: BootstrapPagination::Rails %>
      <%= content_tag(:p, total_count(@jobs), class: 'text-center') %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/entity_sidebar' %>
    <%= render 'jobs/search_jobs' %>
    <%= render 'jobs/sidebar' %>
  </div>
</div>