<h1><%= @job.title %> <small><%= @job.stage %></small><%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-default pull-right' %></h1>

<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item  list-group-item-<%= @job.stage.downcase %>"><span class="dt">Stage</span><%= @job.stage %></li>
      <li class="list-group-item"><span class="dt">Job Number</span><%= @job.job_number %></li>
      <li class="list-group-item"><span class="dt">Invoice Number</span><%= @job.invoice_number %></li>
      <li class="list-group-item"><span class="dt">Invoiced</span><%= @job.invoiced %></li>
      <li class="list-group-item"><span class="dt">Start Date</span><%= @job.starts_on.try(:strftime, "%a, %b %-d, %Y") %> 
      <%= @job.starts_at.try(:strftime, "@ %-l:%M %P") %></li>
      <li class="list-group-item"><span class="dt">End Date</span><%= @job.ends_on.try(:strftime, "%a, %b %-d, %Y") %> 
      <%= @job.ends_at.try(:strftime, "@ %-l:%M %P") %></li>
      <li class="list-group-item"><span class="dt">Loads In On</span><%= @job.loads_in_on.try(:strftime, "%a, %b %-d, %Y") %> 
      <%= @job.loads_in_at.try(:strftime, "@ %-l:%M %P") %></li>
      <li class="list-group-item"><span class="dt">Loads Out On</span><%= @job.loads_out_on.try(:strftime, "%a, %b %-d, %Y") %> 
      <%= @job.loads_out_at.try(:strftime, "@ %-l:%M %P") %></li>
      <li class="list-group-item"><span class="dt">Load I/O Times</span><% if @job.confirmed_load_times == "No" %>NOT confirmed<% elsif @job.confirmed_load_times == "Yes" %>Confirmed<% end %></li>
      <li class="list-group-item"><span class="dt">User</span><%= @job.user.first_name %></li>
      <li class="list-group-item"><span class="dt">Account</span><%= link_to @job.contact.account.name, @job.contact.account %></li>
      <li class="list-group-item"><span class="dt">Contact</span><%= link_to "#{@job.contact.first_name} #{@job.contact.last_name}", @job.contact %></li>
    </ul>
    
    <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
  </div>
</div>