<td>
  <%= user.id %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%# user.timezone %>
    <%#= simple_form_for(user) do |f| %>
      <%#= f.time_zone_select :timezone, ActiveSupport::TimeZone::us_zones %>
      <td>
      <%#= f.submit 'Update', class: 'btn btn-default btn-xs' %>
      </td>
    <%# end %>
</td>
<td>
  <%= user.created_at.strftime("%-m/%-d/%y %k:%M") %>
</td>
<td class="text-center">
  <%= user.sign_in_count %>
</td>
<td>
  <%= user.last_sign_in_at.strftime("%-m/%-d/%y %k:%M") %>
</td>
<td>
  <% if user == current_user %>
    <td><%= current_user.role.titleize %></td>
  <% else %>
    <%= simple_form_for(user) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) unless user == current_user %>
      <td>
      <%= f.submit 'Update', class: 'btn btn-default btn-xs' unless user == current_user %>
      </td>
    <% end %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user %>
</td>