<h1 class="page-title">Users</h1>

<div class="panel panel-default">
  <table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>User Email</th>
      <th colspan="2">Timezone</th>
      <th>Created</th>
      <th><%= sort_link(@q_user, :sign_in_count, 'Sign Ins') %></th>
      <th><%= sort_link(@q_user, :last_sign_in_at, 'Last Sign In') %></th>
      <th colspan="2">Role</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= render user %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="panel-footer text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  <p><%= @users.count %> total</p>
</div>
</div>