<div class="panel panel-default">
    <div class="panel-body">
        <div id="calendar"></div>
    </div>
</div>

<script>
    $(document).ready(function() {
    
        $('#calendar').fullCalendar({
            header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
            defaultView: "month",
            slotMinutes: 15,
            events: "home/get_events",
            timeFormat: "h:mm t{ - h:mm t} ",
            dragOpacity: "0.5",
            eventClick: function(event) {
                if (event.url) {
                    window.open(event.url,"_self");
                    return false;
                }
            },
            eventRender: function(event, element) {
                element.attr('title', event.details);
            }
        })
    
    });
</script>