<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><%= @jobs_this_week.count %> Jobs This Week</h3>
    </div>
    <div class="list-group">
        <% @jobs_this_week.where("starts_on >= ?", Date.today.beginning_of_week).order(:starts_on).each do |job| %>
            <%= link_to job, class: 'list-group-item' do %>
                <%= job.title %>
                <span class="pull-right">
                    <small><%= job.starts_on.try(:strftime, "%a") %><%= job.starts_at.try(:strftime, ", %-l:%M %P") %></small>
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </span>
            <% end %>
        <% end %>
        <%= link_to raw('New Job <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'), new_job_path, class: 'list-group-item' %>
    </div>
</div>