<div class="row">
    <div class="col-sm-3">
        <%= render "jobs_sidebar" %>
    </div>
    <div class="col-sm-9">
        <%= render 'calendar' %>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Jobs by Month</h4>
                <%= column_chart Job.group_by_month(:starts_on, format: "%b '%y").reverse_order.count, xtitle: "Month", ytitle: "Jobs" %>
            </div>
        </div>  
    </div>
    <!--<div class="col-lg-9">-->
    <!--    <div class="panel panel-default">-->
    <!--        <div class="panel-body">-->
    <!--            <h4>Timeline</h4>-->
    <!--            <%#= timeline @jobs.map { |job| [job.title, job.starts_on.strftime("%Y-%m-%d"), job.ends_on.strftime("%Y-%m-%d")] } %>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>