<% @account.contacts.each do |contact| %>
<li class="list-group-item"><span class="text-muted"><%= icon('glyphicon', 'user') %></span> <%= link_to "#{contact.first_name} #{contact.last_name}", contact %> <span class="pull-right text-muted"><%= contact.try(:title) %></span></li>
<% end %>