<%= simple_form_for(@contact) do |f| %>
    <div class="form-group">
        <%= f.text_field :account_id, label: false, :value => @account.id, :hidden => true %>
        <%= f.input :first_name, label: false, placeholder: 'First Name' %>
        <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
            <%= f.input :email, label: false, placeholder: 'mail@example.com' %>
          </div>
    </div>
    <%= f.submit 'Save Contact', :class => 'btn btn-primary' %>
<% end %>