<script>
  $(function() {
    var viewModel = {
            firstName : ko.observable("<%= @contact.first_name unless @contact.first_name.nil? %>"),
            lastName : ko.observable("<%= @contact.last_name unless @contact.last_name.nil? %>")
        };
        viewModel.fullName = ko.dependentObservable(function () {
            return viewModel.firstName() + " " + viewModel.lastName();
        });

        ko.applyBindings(viewModel);
  });
</script>

<%= simple_form_for(@contact, html: { class: 'form-inline' }) do |f| %>
<div class="panel panel-default">
    <%= f.error_notification %>
    <ul class="list-group list-group-form">
        <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :account %></div>
          <div class="col-sm-6">
            <%= f.association :account, input_html: { id: 'dropdown' }, label: false %>
          </div>
          <div class="col-sm-3">
              <%= link_to 'Add Account', new_account_path, class: 'btn btn-default btn-xs' %>
          </div>
        </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :first_name %></div>
            <div class="col-sm-9"><%= f.input :first_name, :input_html => {"data-bind" => "textInput: firstName" }, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :last_name %></div>
            <div class="col-sm-9"><%= f.input :last_name, :input_html => {"data-bind" => "textInput: lastName" }, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :title %></div>
            <div class="col-sm-9"><%= f.input :title, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :email %></div>
            <div class="col-sm-9"><%= f.input :email, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :alt_email %></div>
            <div class="col-sm-9"><%= f.input :alt_email, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :phone %></div>
            <div class="col-sm-9"><%= f.input :phone, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :mobile %></div>
            <div class="col-sm-9"><%= f.input :mobile, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :fax %></div>
            <div class="col-sm-9"><%= f.input :fax, label: false %></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3 label-col"><%= f.label :source %></div>
            <div class="col-sm-9"><%= f.input :source, label: false %></div>
          </div>
        </li>
    </ul>
</div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %> <%= link_to 'Cancel', @contact, class: 'btn btn-default' %>
  </div>
<% end %>
<br>
<script>
  $(function() {
    $( "#dropdown" ).select2({
        // theme: "bootstrap",
        allowClear: true,
        placeholder: 'Select an account if possible',
        width: "100%"
    });
  });
</script>