<% @job_years.each do |year, jobs| %>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><%= year.strftime("%Y") %></h4>
        </div>
        <ul class="list-group">
            <% jobs.each do |job| %>
                <li class="list-group-item">
                    <%= link_to 'Edit', edit_job_path(job), class: 'pull-right' %>
                    <%= content_tag(:small, job.starts_on.strftime("%a, %b %-d"), class: 'inline job-date-long') %> <span class="label label-<%= job.stage.downcase %>"><%= job.stage %></span> <%= link_to job.title, job, class: 'tooltips', title: "Job: #{job.job_number} / Invoice: #{job.invoice_number}", data: { toggle: 'tooltip', placement: 'top' } %><span class="text-muted"><% if !job.contact.first_name.blank? %> - <%= job.contact.first_name %><% end %><% if !job.contact.account.nil? %>, <%= job.contact.account.name %><% end %></span>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>