<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New <%= controller_name.singularize.titleize %></h3>
  </div>
  <%= simple_form_for(@new_contact) do |f| %>
    <div class="panel-body">
        <%= f.error_notification %>
      
        <div class="row">
          <div class="col-sm-6"><%= f.input :first_name %></div>
          <div class="col-sm-6"><%= f.input :last_name %></div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                <%= f.input :title, label: false, placeholder: 'Title' %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                <%= f.input :email, label: false, placeholder: 'mail@example.com', error: 'An email or phone number is required' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
                <%= f.input :phone, label: false, placeholder: 'Phone Number', error: 'An email or phone number is required' %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></div>
                <%= f.input :mobile, label: false, placeholder: 'Mobile Number' %>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <div class="panel-footer">
        <div class="form-group">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    </div>
  <% end %>
</div>