<h3><span data-bind="text: fullName"></h3>
<div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>  
    </div>
</div>

<%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>