<div class="row">
  <div class="col-sm-9">
    <%= render 'layouts/entity_header' %>
    <ul class="list-group">
      <% @contacts.each do |contact| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6">
              <span class="text-muted"><%= icon('glyphicon', 'user') %></span> <%= link_to "#{contact.first_name} #{contact.last_name }", contact %> <span class="text-muted"><% if !contact.title.blank? %> - <%= contact.title %><% end %> <% if !contact.account.nil? %>at <%= link_to contact.account.name, contact.account %><% end %></span>
            </div>
            <div class="col-sm-3">
              <small><%= contact.jobs.count %> <span class="stat-label">Jobs</span></small>
            </div>
            <div class="col-sm-3"><%= link_to 'Edit', edit_contact_path(contact), class: 'pull-right' %></div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="text-center">
      <%= will_paginate @contact, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/entity_sidebar' %>
  </div>
</div>