<h1><%= "#{@contact.first_name} #{@contact.last_name}" %> <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-default' %></h1>

<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item"><span class="dt">Title</span><%= @contact.title %></li>
        <li class="list-group-item"><span class="dt">Account</span>
        <% if !@contact.account.nil? %>
          <%= link_to @contact.account.name, @contact.account %>
        <% else %>
          <%= link_to 'Add Account', edit_contact_path(@contact) %>
        <% end %>
        </li>
        <%# @contact.assigned_to %>
        <li class="list-group-item"><span class="dt">Department</span><%= @contact.department %></li>
        <li class="list-group-item"><span class="dt">Source</span><%= @contact.source %></li>
        <li class="list-group-item"><span class="dt">Email</span><%= link_to @contact.email, "mailto:#{@contact.email}" %></li>
        <li class="list-group-item"><span class="dt">Alternate Email</span><%= link_to @contact.alt_email, "mailto:#{@contact.alt_email}" %></li>
        <li class="list-group-item"><span class="dt">Phone</span><%= link_to phone(@contact.phone), "tel:#{phone(@contact.phone)}" %></li>
        <li class="list-group-item"><span class="dt">Mobile</span><%= link_to phone(@contact.mobile), "tel:#{phone(@contact.mobile)}" %></li>
        <li class="list-group-item"><span class="dt">Fax</span><%= phone(@contact.fax) %></li>
      </ul>
      <div class="panel-footer">
        <small>Added on <%= @contact.created_at.strftime("%-m/%-d/%Y at %-l:%M %P") %> by <%= "#{@contact.user.first_name} #{@contact.user.last_name}" %></small>
      </div>
    </div>
    <%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
  </div>
  <div class="col-sm-7">
    <h3>Jobs</h3>
    <div class="jobs">
      <%= render 'jobs' %>
    </div>
  </div>
</div>