<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>