// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Toggle for adding new contact
a[aria-expanded=true] .fa-plus {
   display: none;
}
a[aria-expanded=false] .fa-minus {
   display: none;
}