// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-blue: #5bc0de;
$orange: #f0ad4e;
$green: #5cb85c;
$gray: #777;

// Job Stages
.jobs {
    .label {
        display: inline-block;
        min-width: 60px;
        text-align: right;
    }
    .label-inquiry {
        background-color: $light-blue;
    }
    .label-tentative {
        background-color: $orange;
    }
    .label-sold {
        background-color: $green;
    }
    .label-cancelled {
        background-color: $gray;
    }
}

// Job Stages for show page
.list-group-item-inquiry {
    color: $light-blue;
}
.list-group-item-tentative {
    color: $orange;
}
.list-group-item-sold {
    color: $green;
}
.list-group-item-cancelled {
    color: $gray;
}
.job-date-short {
    min-width: 45px;
}
.job-date-long {
    min-width: 70px;
}

// Index Page
.jobs {
    .panel-default > .panel-heading {
        border-bottom: 1px solid #eee;
    }
    .panel-body {
        padding: 15px 15px 0;
    }
}