<% "new_#{controller_name.singularize}_path" %>
<h3 class='text-muted'>Sidebar</h3>
<%= link_to "New #{controller_name.singularize.titleize}", new_entity_path, class: 'btn btn-default btn-block' %>
<a href="javascript:if(window.print)window.print()" class="btn btn-default btn-block"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a>
<br>
<% if defined? @recent %>
  <div class="list-group">
    <li class="list-group-item title"><strong>Recent <%= controller_name.titleize %></strong></li>
    <% @recent.each do |item| %>
      <% if controller_name == "contacts" %>
        <%= link_to "#{item.first_name} #{item.last_name}", item, class: 'list-group-item' %>
      <% elsif controller_name == "accounts" %>
        <%= link_to item.name, item, class: 'list-group-item' %>
      <% end %>
    <% end %>
  </div>
<% end %>