<div class="row">
  <div class="col-sm-12 col-lg-3">
    <h1><%= controller_name.titleize %> <small><a id="quickAddButton" type="button" data-toggle="collapse" data-target="#quickAdd" aria-expanded="false" aria-controls="quickAdd">
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a></small></h1>
  </div>
  <div class="col-sm-12 col-lg-9">
    <span class="pull-right"><%= render "search" %></span>
  </div>
</div>

<div class="collapse" id="quickAdd">
  <%= render "#{controller_name}/quick_form" %>
</div>