<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="btn btn-link navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <% if user_signed_in? %>
      <%= link_to raw("<i class='glyphicon glyphicon-tasks'></i> #{current_user.company.name}"), root_path, class: 'navbar-brand' %>
      <% else %>
      <%= link_to raw("<i class='glyphicon glyphicon-tasks'></i> Rental CRM"), root_path, class: 'navbar-brand' %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? && current_user.user? %>
        <li><%= link_to raw('<i class="fa fa-users"></i> Contacts'), contacts_path %></li>
        <li><%= link_to raw('<i class="fa fa-building"></i> Accounts'), accounts_path %></li>
        <li><%= link_to raw('<i class="fa fa-truck"></i> Jobs'), controller: "jobs", active: "true" %></li>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to raw('<i class="fa fa-users"></i> Users'), users_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.user? %>
        <li><%= link_to "My Account", edit_user_registration_path %></li>
        <li><%= link_to raw('<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out'), destroy_user_session_path, method: 'delete' %></li>
        <% elsif user_signed_in? && current_user.admin? %>
        <li><%= link_to "My Account", edit_user_registration_path %></li>
        <li><%= link_to raw('<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out'), destroy_user_session_path, method: 'delete' %></li>
        <% end %>
        <% if !user_signed_in? %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to raw('<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In'), new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>