<%= simple_form_for(@account, html: { class: 'form-inline' }) do |f| %>
  <div class="panel panel-default">
    <%= f.error_notification %>
    <ul class="list-group list-group-form">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :name %></div>
          <div class="col-sm-9"><%= f.input :name, autofocus: true, :input_html => {"data-bind" => "textInput: accountName" }, label: false %></div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :website %></div>
          <div class="col-sm-9"><%= f.input :website, label: false, placeholder: 'website.com' %></div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :email %></div>
          <div class="col-sm-9"><%= f.input :email, label: false %></div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :phone %></div>
          <div class="col-sm-9"><%= f.input :phone, label: false %></div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3 label-col"><%= f.label :fax %></div>
          <div class="col-sm-9"><%= f.input :fax, label: false %></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <script>
    $(function() {
        var viewModel = {
            accountName : ko.observable("<%= @account.name unless @account.name.nil? %>")
        };
        viewModel.name = ko.dependentObservable(function () {
            return viewModel.accountName();
        });
    
        ko.applyBindings(viewModel);
    });
  </script>
<% end %>