<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New <%= controller_name.singularize.titleize %></h3>
  </div>
  <%= simple_form_for(@new_account) do |f| %>
    <div class="panel-body">
        <%= f.error_notification %>

        <div class="row">
          <div class="col-sm-12">
            <%= f.input :name %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></div>
                <%= f.input :website, label: false, placeholder: 'example.com' %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                <%= f.input :email, label: false, placeholder: 'mail@example.com' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
                <%= f.input :phone, label: false, placeholder: 'Phone Number' %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></div>
                <%= f.input :fax, label: false, placeholder: 'Fax Number' %>
              </div>
            </div>
          </div>
        </div>

      
    </div>
    <div class="panel-footer">
        <div class="form-group">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    </div>
  <% end %>
</div>