<%= search_form_for @q, class: 'search-inline' do |f| %>
  <div class="form-group">
    <%= f.search_field :name_cont, class: 'form-control', autofocus: true, placeholder: 'Search' %>
  </div>
	<%= f.submit 'Go', class: 'btn btn-primary' %>
<% end %>