<h3><span data-bind="text: name"></h3>
<div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>  
    </div>
</div>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
