<div class="row">
  <div class="col-sm-9">
    <%= render 'layouts/entity_header' %>
    <div class="list-group">
      <% @accounts.each do |account| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col-sm-4">
              <span class="text-muted"><%= icon('fa', 'building') %></span> <%= link_to account.name, account %>
            </div>
            <div class="col-sm-5">
              <small><%= account.contacts.count %> <span class="stat-label">Contacts</span> | 0 <span class="stat-label">Jobs</span> | Updated: <%= account.updated_at.strftime('%-m/%-d/%y at %I:%M %P') %> by <%= account.user.try(:first_name) %></small>
            </div>
            <div class="col-sm-3">
              <%= link_to 'Edit', edit_account_path(account), class: 'pull-right' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= will_paginate @account, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/entity_sidebar' %>
    <hr>
  </div>
</div>