<h1><%= @account.name %> <%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-default' %></h1>

<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item"><span class="dt">Website</span><%= link_to @account.website, "http://#{@account.website}", :target => "_blank" %></li>
        <li class="list-group-item"><span class="dt">Phone</span><%= link_to phone(@account.phone), "tel:#{phone(@account.phone)}" %></li>
        <li class="list-group-item"><span class="dt">Fax</span><%= phone(@account.fax) %></li>
        <li class="list-group-item"><span class="dt">Email</span><%= link_to @account.email, "mailto:#{@account.email}" %></li>
      </ul>
      <div class="panel-body">
        <strong>Contacts</strong>
      </div>
      <ul class="list-group">
        <%= render 'contacts/contact' %>
        <li class="list-group-item">
          <a class="btn btn-default btn-sm" id="newContactButton" type="button" data-toggle="collapse" data-target="#newContact" aria-expanded="false" aria-controls="newContact">
            Contact <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
          </a>
          <div class="collapse" id="newContact">
            <strong>Update Contacts</strong>
            <%= simple_form_for(@account) do |f| %>
              <%= f.association :contacts, label_method: :first_name, value_method: :id, input_html: { id: 'dropdown' } %>
              <%= f.submit 'Update', class: 'btn btn-primary' %>
            <% end %>
            <br>
            <strong>Add New Contact</strong>
            <%= render 'contacts/form_contact' %>
            <script>
              $(function() {
                $( "#dropdown" ).select2({
                    theme: "bootstrap",
                    width: "100%"
                });
              });
            </script>
          </div>
        </li>
      </ul>
      <div class="panel-footer">
        Added on <%= @account.created_at.strftime("%-m/%-d/%Y at %-l:%M %P") %> by <%= "#{@account.user.first_name} #{@account.user.last_name}" %>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <h3>Jobs</h3>
    <%= render 'jobs' %>
  </div>
</div>
<%= link_to 'Back', accounts_path %>